# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=d6caf141-2f3b-4d0e-8d49-07de0295296e

    # Set to true to disable all reporting
    B:opt-out=false
}


